@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(29, 30, 36);
}

code {
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
}

html{
  background-color: rgb(29, 30, 36);
}

.montserrat-font{
  font-family: 'Montserrat', sans-serif;
}

.bg-default{
  background-color: rgb(29, 30, 36);
  border-color: rgb(54, 56, 69);
}

.text-yellow{
  color: #fbb141;
}